.skill-set {
	margin: 2em auto;
	p.lead.mb-5.skills {
		margin: .5em auto !important;
	}
}

.contact-info {
	margin: 2em auto;

	p.lead.mb-5.cinfo {
		margin: .5em auto !important;
	}
}

.ga-logo-img {
	height: 112px;
	width: 112px;
	margin-top: -10px;
}

.ut-logo-img {
	height: 100px;
	width: 100px;
	margin-top: -12px;
}

.edu-row {
	display: flex;
	justify-content: center;
}

.li-logo-img {
	height: 60px;
	width: 60px;
	margin-top: -12px;
}

.ha-logo-img {
	height: 65px;
	width: 70px;
	margin-top: -12px;
}

.am-logo-img {
	height: 30px;
	width: 90px;
	margin-top: -10px;
}

.sw-logo-img {
	height: 65px;
	width: 80px;
	margin-top: -14px;
}

.dell-logo-img {
	height: 80px;
	width: 80px;
	margin-top: -14px;
}

.work-row {
	display: flex;
	margin-bottom: 3em;
}

.work-zone {
	margin: auto;
	p.lead.mb-5 {
		margin: .5em auto !important;
	}
}

.project-img {
	width: 555px;
	height: 285px;
}

.return-home {
	position: fixed;
	right: 15px;
	top: 15px;

	width: 200px;
	height: 50px;

	text-align: center;

	color: $white;
	background: fade-out($gray-800, .5);

	line-height: 50px;

	z-index: 999;
	&:focus,
	&:hover {
	color: $white;
	}
	&:hover {
	background: $gray-800;
	}
	&.active {
	// background-color: $white;
	// color: $gray-900;
	}
}

.jac-masthead {
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/jac-op.png');
}

.paw-masthead {
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/paws-op.png');
}

.rtn-masthead {
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/redtale-op.png');
}

.rtnapi-masthead {
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/api-op.png');
}

.project-masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    border-radius: 20px;
    border: 2px solid #656972;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
      background: #f8f9fa;
    }
  }
}

p.lead.mb-5.next-goal {
	margin: .5em auto !important;
}